doctype html
meta(charset='utf-8')
title A happy new year 2016
meta(name='viewport', content='width=device-width, initial-scale=1')
body(style="width: 100%; height: 100%; margin: 0px;")
    img#img1(style="width: auto; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto;")
    img#img2(style="width: auto; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto;")
    div(style="margin: 1em; position: fixed; text-shadow:-1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;")
        h1
            | A happy new year 2016
        h2 PeerCastの新しい１年がはじまります。
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="js/app.js")
